/*** Global Styles ***/
body
{
	padding:          0;
	margin:           0;
	background-color: #212121;
	color:            #f4f9e7;
}
h1, h2, h3, h4, h5, h6
{
	font-size: 1em;
	margin:    0;
}
body
{
	font: 1em Arial, sans-serif;
}
* html td
{
	font-size: 1em;
}
a
{
	color: #c0dba5;
}
a:hover
{
	color:           #e1efcd;
	text-decoration: none;
}

/* Section 508 */
.nav
{
	display: none;
}


/* Color picker Squares */
.cp{		width:10px;height:10px}



/*** Header ***/
#header
{ 
	position:    relative;
	background:  url("http://dkpfiles.com/<!--System:SD-->/background") repeat-x center top;
	height:      148px;
	z-index:     2;
}

/** Main Logo **/
#main_logo
{
	cursor:pointer;
	position:   absolute;
	top:        0;
	left:       0;
	height:     128px;
	width:      600px;
}

#main_logo a
{
	display:         block;
	position:        absolute;
	top:             0;
	left:            0;
	height:          0;
	width:           0;
	padding:         120px 351px 0 0;
	overflow:        hidden;
	text-decoration: none;
}

/** Raid **/
#raid
{
	position:   absolute;
	top:        128px;
	right:      15px;
	height:     26px;
	/*width:      186px;
	padding:    128px 150px 0 75px;*/
	background: no-repeat right top;
	text-align: center;
	font-size:  0.8em;
	z-index:    1;
}



/** Header Bar **/
#header ul
{
	position:   absolute;
	top:        120px;
	left:       0;
	height:     28px;
	width:      100%;
	margin:     0;
	padding:    0;
	background: url("http://dkpfiles.com/dkp-templates/envy/header-bar.gif") repeat-x right top;
	list-style: none;
}

/** Primary Navigation **/
#header li
{
	float: left;
}
#header li a
{
	float:           left;
	height:          28px;
	line-height:     28px;
	margin:          0 0 0 6px;
	padding:         0 0 0 7px;
	background:      url("http://dkpfiles.com/dkp-templates/envy/header-button.gif") no-repeat left top;
	color:           #ffffff;
	text-decoration: none;
	font-weight:     bold;
	font-size:       0.85em;
}
#header li a .outer
{
	display:    block;
	padding:    0 7px 0 0;
	background: url("http://dkpfiles.com/dkp-templates/envy/header-button.gif") no-repeat right -56px;
}
#header li a .inner
{
	display:    block;
	background: url("http://dkpfiles.com/dkp-templates/envy/header-button.gif") repeat-x left -28px;
}
/* hover */
#header li a:hover
{
	background-position: left -84px;
}
#header li a:hover .outer
{
	background-position: right -140px;
}
#header li a:hover .inner
{
	background-position: left -112px;
}


/*** Page Body ***/
#body
{
	padding:    0 0 0 10em;
	background: url("http://dkpfiles.com/dkp-templates/envy/body-trim.gif") repeat-x left top;
	z-index:    1;
}
#body .outer
{
	background: url("http://dkpfiles.com/dkp-templates/envy/left-divider.gif") repeat-y left top;
	padding:    0 12em 0 24px;
}
#body .inner
{
	background: url("http://dkpfiles.com/dkp-templates/envy/right-divider.gif") repeat-y right top;
	padding:    0 24px 0 0;
}
/** Columns **/
#left,
#right
{
	padding-bottom: 7px;
}
#left
{
	float:        left;
	margin-left: -10em;
	width:        10em;
}
/* IE is strange */
* html #left
{
	margin-left: -5em;
}
#right
{
	float:         right;
	margin-right: -12em;
	width:         12em;
}
/* IE is strange */
* html #right
{
	margin-right: -6.5em;
	position:      relative;
	left:         -1px;
}
#center
{
	position:  relative;
	z-index:   50;
	overflow:  auto;
}
/* IE eats babies for breakfast */
* html #center
{
	float:   right;
	padding: 0 25px;
}
#body .clear
{
	clear: both;
}

/** Menus **/
.menu
{
	font-size: 0.8em;
}
.menu .header
{
	position:    relative;
	width:       100%;

}
.menu .header .text
{
	font-weight: bold;
	text-align:  center;
	padding:     0.15em 0;
	cursor:      default;
	color:       #e1efcd;
	font-family: Verdana, sans-serif;
}
.menu .header .top,
.menu .header .bottom
{
	height:    12px;
	font-size: 0;
}
.first .menu .header
{
	margin-top: -8px;
}
/* Left Menus */
#left .menu .header
{
	margin-right: -25px;
	padding-right: 25px;
	background:    url("http://dkpfiles.com/dkp-templates/envy/left-header-back.gif") repeat-y right center;
}
#left .menu .header .top
{
	margin-right: -25px;
	background:    url("http://dkpfiles.com/dkp-templates/envy/left-header-top.gif") no-repeat right bottom;
}
#left .menu .header .bottom
{
	margin-right: -25px;
	background:    url("http://dkpfiles.com/dkp-templates/envy/left-header-bottom.gif") no-repeat right top;
}
#left .first .menu .header .top
{
	margin-right: -25px;
	background:    url("http://dkpfiles.com/dkp-templates/envy/left-header-top-first.gif") no-repeat right bottom;	
}
/* Right Menus */
#right .menu .header
{
	margin-left: -25px;
	padding-left: 25px;
	background:   url("http://dkpfiles.com/dkp-templates/envy/right-header-back.gif") repeat-y left center;
}
#right .menu .header .top
{
	margin-left: -25px;
	background:   url("http://dkpfiles.com/dkp-templates/envy/right-header-top.gif") no-repeat left bottom;
}
#right .menu .header .bottom
{
	margin-left: -25px;
	background:   url("http://dkpfiles.com/dkp-templates/envy/right-header-bottom.gif") no-repeat left top;
}
#right .first .menu .header .top
{
	margin-left: -25px;
	background:   url("http://dkpfiles.com/dkp-templates/envy/right-header-top-first.gif") no-repeat left bottom;	
}
/** Menu Items **/
.menu ul
{
	position:   relative;
	padding:    0;
	list-style: none;
	z-index:    100;
}
#left .menu ul
{
	margin:    -7px -4px -7px 0;
}
#right .menu ul
{
	margin:    -7px 0 -7px -4px;
}
.menu li a
{
	text-decoration: none;
	font-weight:     normal;
	display:         block;
	padding:         0.25em 1em;

}
* html .menu li a
{
	display: inline-block;

}
.menu li a:hover
{
	background-color: #0f0f0f;
}


/*** Menu Content ***/
.menu_body
{
	position:  relative;
	z-index:   100;
	padding:   0.25em;
	font-size: 0.9em;
}
table.Menu
{
	border: 1px solid #101010;
}
/** Calendar **/
.calheader
{
	background: #1b1b1b;
}
.calbody td
{
	border:      1px solid #1f1f1f;
	width:       14.29%;
	line-height: 1.5em;
}
.calday {width:4em}
.calbody td.calsomething
{
	background: #191919;
	border:     1px solid #090909;
}
/** Raid Signup **/
.signup
{
	padding:    0.6em 0 0.3em 0;
	text-align: center;
}


/*** Center Content ***/
#content
{
	padding:     0.7em 0.5em;
	font-size:   0.8em;
	font-family: Verdana, sans-serif;
}
/** lists **/
.List
{
	border-collapse: collapse !important;
}
.list td
{
	padding-top:    0.35em;
	padding-bottom: 0.35em;
}
.listlabel
{
	background: #191919;
}
.List,
.listlabel,
.list1,
.list2,
.newlist1,
.newlist2
{
	border: 1px solid #101010;
}
.list1
{
	background: #212121;
}
.list2
{
	background: #303030;
}
.newlist1
{
	background: #293b1f;
}
.newlist2
{
	background: #203117;
}
.listred
{
	background: #402525;
}
/** Forums **/
.PostInfo
{
	background:  #191919;
	border:      1px solid #101010;
	padding:     0.5em;
	white-space: nowrap;
}
.PostText
{
	padding:     0.75em;
	border:      1px solid #101010;
	background:  #1d1d1d;
}
.MakeAPost
{
	border:     1px solid #101010;
}

.radiotable table
{
	width: 100%;
}
.radiotable table table
{
	width: auto;
}

.taglist td
{
	white-space: auto !important;
}


/*** Footer ***/
#footer
{
	border-top: 1px solid #000000;
	background: #161616;
	text-align: center;
	font-size:  0.7em;
	padding:    2em;
}
#footer td
{
	padding: 1.5em;
}

.GuideTitle {
	display: block;
	font-size: 1.5em;
	border-bottom: 1px solid #333;
}

.GuideSubTitle {
	display: block;
	font-size: 1.35em;
	border-bottom: 1px solid #333;
}

/* The following are the rules for tabs */
div.tabrow{float:left;width:100%;padding-top:5px;}
ul.tabrow, ul.tabrow li{list-style-type:none;margin:0;padding:0}
ul.tabrow{margin-left:10px;}
ul.tabrow li{list-style-image:none;float:left;margin-right: 3px;text-align:center;font-size:inherit}
ul.tabrow a{float:left;width:8em;padding: 5px 0;background-color:#354616;}
ul.tabrow a:hover {background:#444444;}
ul.tabrow li.selected a,ul.tabrow li.selected a:hover {background-color:#191919;color:#ffffff}

/* The next rules (all preceded with bigcal) are for the 'Big Calendar' (bigcalendar.php) */

/* this is the table that displays the calendar info */
.bigcal {width:100%;border-style:inset;border-width:1px;border-color:black}

/* This is the header of the calendar, displaying the month and year, and the links to the next months */
.bigcalheader{font-size:16pt;font-weight:bold;background: #191919;}

/* Day Labels 'Sunday' 'Monday' etc */
.bigcaldayheader{font-size:10pt;font-weight:bold;background: #191919;}

/* This is the class for each day */
.bigcalday {width:14%;border-style:solid;border-color:#3DE34D;border-width:1px;height:100px;background:#303030;}

/* This is a class that is displayed on event labels (8:00pm - Gruul's Lair) */
.bigcallabel{font-size:8pt;cursor:pointer}

/* This is the div containing the day of the month */
.bigcaldaylabel{font-size:8pt;background:#191919;text-align:center}

/* The class when a day on the calendar is being hovered over */
.bigcalday_hover{border-color:white}

/* One of the classes displayed on today */
.bigcalcurrent{border-color:#000000;background:#293b1f}

/* One of the classes to display is something is scheduled on that day */
.bigcalsomething{}

/* This is going to be the Arrows to the right and left */
.bigcalheader a{background:transparent}

/* This is the div that gets clicked to add a new item.  The default image is a plus.  The Overflow:hidden is because IE, for whatever reason, wants to make it higher than the height attribute */
.bigcalplus{	position:relative;
		top:2px;
		float:right;
		width:10px;
		height:10px;
		overflow:hidden;
		line-height:1px;
		background-image:url(http://www.dkpsystem.com/plus.gif);
		cursor:pointer;}		

/* A day that's not in the current month (at the beginning and end of the calendar display) */
.bigcalblank {}

#shoutbox_menu{
	height:300px;
	overflow:auto;
}



/* DHTML-MENUS */
div.dhtmlddl, div.dhtmlddl *, div.dhtmlcombo, div.dhtmlcombo *{
	height:16px !important;
}

tr.listlabel div.dhtmlddl, tr.listlabel div.dhtmlcombo{

}

div.dhtml_ddl_list, div.dhtml_combo_list {
	font-size:9pt;
}

.dhtml_ddl_listitem,.dhtml_ddl_listitem_highlight {
	padding-top:2px;
	margin:0;
}

div.dhtml_ddl_listitem_highlight{
	font-weight:normal;
}
/* END-DHTML-MENUS */


/* Text description, ie "Someone posted to someone's wall" on the menu
.membercomment_summary {
}

/* The date of the comment, ie '8 months ago' on the menu */
.membercomment_date {
color:#888;
padding-bottom:4px;
}

/* The container div of the wall post list on the menu on the menu */
.membercomment_wall_history {
height:300px;
overflow:auto;
}


/* CHARACTER PROFILE PAGE: START */

/* Character Name on character profile page */
.memberprofile_name {
	font-size:24pt;
	font-weight:bold;
}

/* Level, Race, Class */
.memberprofile_lrc {
	font-size:12pt;
	font-weight:bold;
}

/* Character server */
.memberprofile_server {
	font-size:12pt;
}

/* Character guild */
.memberprofile_guild {
	font-size:18pt;
}

/* Character rank */
.memberprofile_rank {
	font-size:12pt;
}

/* Character login information */
#memberprofile_login {
	font-size:10pt;
	font-weight:bold;
	text-align:right;
}

/* Character "other characters" drop down */
#memberprofile_login select {
	font-size:9pt;
}

/* Link for "Claim this character" */
.memberprofile_claim {
	font-weight:bold;
	font-size:14pt;
}

/* notification that this character is pending an association with the logged in account */
.memberprofile_claimed {
	font-size:10pt;
}

/* where the profile picture and future pictures go */
#memberprofile_pics {
	text-align:center;
	width:100%;
}

/* Wrapper on character profile */
.memberprofile_main {
	width:100%;
}

/* profile picture, and gear summar section */
.memberprofile_picsgear {
	width:400px;
	vertical-align:top;
}

/* Character Wall */
.memberprofile_wall {
	padding-left:20px;
	vertical-align:top;
}

/* "Delete" link when NOT hovering over a character profile */
.memberprofile_comment_nohover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:none !important;
}

/* "Delete" link when hovering over a character profile comment/wall post */
.memberprofile_comment_hover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:block !important;
}

/* Wall Post when hovering over */
.memberprofile_comment_hover {
	/*border: 1px #777 solid;*/
}

/* Wall post text */
.memberprofile_comment_text {

}

/* positioning of the comment "Delete" */
.memberprofile_comment_delete {
	float:right;
}

/* comment post button */
.memberprofile_post_comment {
	width:100%;
	text-align:right;
}

/* Comment post textarea */
.memberprofile_post_comment textarea {
	width:100%;
	margin-bottom:5px;
}

/* Individual wall page list */
.memberprofile_comment_pages {
	font-size:7pt;
	text-align:center;
}

/* Wall post individual comment wrapper */
.memberprofile_comment_wrapper {
	width:100%;
	padding:2px;
	margin:2px;
	font-size:9pt;
}

/* space out the individual conversations */
#memberprofile_all_comments > .memberprofile_comment_wrapper {
	margin-bottom:15px;
}

/* profile comment icon */
.memberprofile_comment_icon {
	width:50px;
	float:left;
}

/* wall post date */
.memberprofile_comment_date {
	margin-top:8px;
	margin-bottom:8px;
	font-size:8pt;
}

/* wall post comment text */
.memberprofile_comment_text {
	display:table-cell;
	width:10000px;
	margin:5px;
}

/* profession skills */
.memberprofile_prof_skills {
	white-space:nowrap;
}

/* add profession button */
.memberprofile_prof_addprof {
	text-align:center;
	padding-bottom:10px;
}

/* profession edit button */
.memberprofile_prof_edit {
	text-align:center;
}

/* tradeskill */
.memberprofile_prof_skills {
	margin-bottom:30px;
}

/* professions table */
#memberprofile_professions {
	margin-left:auto;
	margin-right:auto;
}

/* textboxes, buttons, and dropdowns in the profession table */
#memberprofile_professions input, #memberprofile_professions select {
	font-size:8pt;
}

/* Profession div around save button */
.memberprofile_profession_save {
	margin-top:10px;
	text-align:right;
}

/* profession save button */
.memberprofile_profession_save input {
	padding:10px;
}


/* Profile Talent Spec Spacing */
.memberprofile_talent_spec {
	padding:20px;
}

/* Profile pvp table */
.memberprofile_pvp {
	margin-left:auto;
	margin-right:auto;
}

/* profile team wrapper */
.memberprofile_pvp_teamwrapper {
	border: 1px outset #777;
	width:180px;
	padding:10px;
	margin:10px;
}

/* center pretty much all text inside divs inside the pvp info page */
.memberprofile_pvp div {
	text-align:center;
}

/* the team header, ie 2v2, 3v3, etc */
.memberprofile_pvp_header {
	font-size:18pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* table listing members */
.memberprofile_pvp_teammembers {
	width:100%;
}

/* arena team name */
.memberprofile_pvp_arenateam {
	font-size:14pt;
	height:50px;
}

/* arena team rating */
.memberprofile_pvp_rating {
	font-size:24pt;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:30px;
}

/* arena team record */
.memberprofile_pvp_record {
	font-size:18pt;
	height:30px;
}

/* graph drop down menu */
.memberprofile_graph_dropdown {
	text-align:center;
}

/* actual graph wrapper */
.memberprofile_graph {
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

/* destination for attendance */
.memberprofile_dkp_attendance {
}

/* description for the raid snapshot */
.memberprofile_dkp_attendance_desc {
	font-size:7pt;
	color:#777;
}

/* dkp actvity table */
.memberprofile_dkp_history {
	width:100%;
}

/* any cells in the dkp activity table */
.memberprofile_dkp_history td {
	vertical-align:top;
}

/* any cells in the dkp table that involve points (numbers), right align */
td.memberprofile_dkp_points {
	text-align:right;
}

/* wrapper on the activity filter */
.memberprofile_dkp_activity_filter {
	text-align:right;
}

/* page list on dkp activity */
.memberprofile_dkp_pages {
	text-align:center;
}

/* format if a row is an absent notification */
.memberprofile_dkp_absent td {
	color:#888;
	font-style:italic;
	font-size:smaller;
}

/* dkp "Challenge" window ("I was there") */
.memberprofile_dkp_challenge {
	text-align:center;
}

/* textarea inside the dkp challenge window */
.memberprofile_dkp_challenge textarea {
	width:100%;
}

/* text containing the text "Loot Systems" above the list of dkp systems */
.memberprofile_dkp_system_header {
	font-size:18pt;
}

/* Currently active page in dkp activity */
.memberprofile_pagenum {
	font-weight:bold;
}

/* notification of pending challenge, or accepted, rejected */
.memberprofile_dkp_challenge_status {
	font-size:smaller;
}

/* character inventory wrapper */
.memberprofile_bank_wrapper {
	width:100%;
}

/* inventory wrapper cells, just to space out the diferent tables */
.memberprofile_bank_wrapper > tbody > tr > td {
	width:33%;
	padding-left:7px;
	padding-right:7px;
}

/* individual inventory sections: Equipped, Bank, Bags */
.memberprofile_bank_wrapper table {
	width:90%;
}

/* inventory edit button */
.memberprofile_bank_edit {
	width:100%;
	text-align:center;
	padding:10px;
}

/* header for factions and quests */
.memberprofile_faction_category, .memberprofile_quest_category {
	font-size:12pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* list of factions/quests */
.memberprofile_faction_category_list,.memberprofile_quest_category_list {
	padding-top:8px;
	padding-left:30px;
}

/* faction and quest list tables */
.memberprofile_faction_category_list table {
	width:500px;
}

.memberprofile_quest_category_list table {
	width:500px;
}

/* faction name: obvious */
.memberprofile_faction_name {
	width:250px;
}

/* quest name */
.memberprofile_quest_name {
	width:250px;
	font-weight:bold;
	font-size:larger;
}

/* quest criteria completed */
.memberprofile_quest_crit_complete {
	text-decoration:line-through;
	color:#777;
}

/* quest complete header */
.memberprofile_quest_complete_header {
	font-weight:bold;
}

/* quest criteria */
.memberprofile_quest_criteria {
	width:250px;
}

/* faction level: "Exalted" , "Revered" , etc */
.memberprofile_faction_level {
	width:125px;
}

/* numbers of the reputation status */
.memberprofile_faction_level_nums {
	width:125px;
}

/* the "Header Core" is a wrapper for things like character name, realm, level, race, etc */
.memberprofile_header_core {
	left:0;
	top:0;
	vertical-align:top;
}

/* This is for custom headers, which show on the right side of the character header */
.memberprofile_header_custom {
	font-size:smaller;
	top:0;
	vertical-align:bottom;
	text-align:right;
}

/* memberprofile header wrapper */
.memberprofile_header_table {
	width:100%;
}

/* customfield label */
.memberprofile_customfield_field {
	font-weight:bold;
}

/* wanted gear edit button */
#memberprofile_wantedgear_editbutton {
	text-align:center;
}

/* dkpprofiler path in windows */
pre.memberprofile_dkpp_path {
	font-size:9pt;
	font-weight:bold;
}

/* achievement wrapper */
.memberprofile_cheeves {
	width:100%;
}

/* achievement subcat */
.memberprofile_cheeve_subcat {
	padding-left:20px;
	display:none;
}

/* achievement criteria */
.memberprofile_cheeve_crit {
	color:#777;
}

/* achievement points */
.memberprofile_cheeve_points {
	font-size:24pt;
	font-weight:bold;
	text-align:center;
}

/* achievement completion date */
.memberprofile_cheeve_date {
	text-align:center;
}
 
/* achievement */
.memberprofile_cheeve {
	font-weight:bold;
}

/* achievement main parent categories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_cat {
	font-weight:bold;
	font-size:12pt;
}

/* achievement subcategories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_subcat {
	font-size:10pt;

}

/* list of achievement categories */
.memberprofile_cheeve_catlist {
	width:200px;
}

/* achievement table */
.memberprofile_cheeve_list > table {
	width:100%;
}

/* header key/attunement not-completed (inside the hover popup) */
.memberprofile_key_hover_notcompleted {
	color:red;
	font-weight:normal;
}

/* header key/attunement when complete (inside the hover popup) */
.memberprofile_key_hover_completed {
	color:green;
	font-weight:bold;
}

/* key/attunement link when a key is completed */
a.memberprofile_key_selected:link, 
a.memberprofile_key_selected:hover, 
a.memberprofile_key_selected:visited,
a.memberprofile_key_selected:active {
	font-weight:bold;
	font-size:9pt;
}

/* key/attunement link when key is not completed. Text slightly smaller, color set to gray */
a.memberprofile_key_unselected:link,
a.memberprofile_key_unselected:hover,
a.memberprofile_key_unselected:visited,
a.memberprofile_key_unselected:active {
	font-weight:normal;
	font-size:8pt;
	color: #777;
}

/* CHARACTER PROFILE: END */


/* THIS MUST BE SET TO display:none, or the default character profile stylesheet will be loaded automatically */
#memberprofile_css_tester {
	display:none;
}





/* THIS MUST BE SET TO display:none, or the default character profile stylesheet will be loaded automatically */
#memberprofile_css_tester {
	display:none;
}

