html
{
	background-color:#000000;
}

body, table
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

body
{
	color:#ffffff;
	text-align:center;
	margin:0;
	padding:0;
}



#showhidemenu
{
	padding-top:8px;
	position:absolute;
	left:125px;
	top:385px;
	text-align:center;
	width:100px;
	height:19px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: url('http://dkpfiles.com/dkp-templates/wrath/showhidemenu.gif') no-repeat center;
	z-index: 200;
}
#showhidemenu a
{
	color: #ffffff;
}
a:link,a:active,a:visited
{
	color:#feaf00;
	text-decoration:none;
}

a:hover
{
	color:#00b3fe;
}

a:focus
{
	outline:none;
}

#nav
{
	position:fixed;
	z-index:100;
	width:100%;
	left:0;
	height:66px;
	text-align:center;
	background:url('http://dkpfiles.com/dkp-templates/wrath/navbar_bg.png') no-repeat center;
}

#navmenu
{
	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, Sans-Serif;
	font-weight:bold;
	text-transform:uppercase;
	width:850px;
	overflow:hidden;
	padding:9px 0 0;
}

#navmenu ul
{
	list-style:none;
	margin:0;
	padding:0;
}

#navmenu ul li
{
	display:inline;
	list-style:none;
	background:url('http://dkpfiles.com/dkp-templates/wrath/nav_separator.png') left center no-repeat;
	margin:0;
	padding:0 15px 0 22px;
}

#navmenu .first
{
	background:none;
	padding-left:0;
}

.body
{
	position:relative;
	width:989px;
	top:0;
	z-index:10;
	margin:0 auto;
}

.header
{
	position:relative;
	height:266px;
	z-index:50px;
	text-align:left;
	top:0;
}

.frostmourne
{
	background:url('http://dkpfiles.com/dkp-templates/wrath/header_bot2.gif') no-repeat center bottom;
	height:266px;
	z-index:50;
}

/* If you want to remove the picture of Arthas, simply delete or comment out the next definition, or you can use your own image */
.lich-king 
{ 
	height:266px; 
	background:url('http://dkpfiles.com/dkp-templates/wrath/lich_king.jpg') no-repeat center; 
	z-index:1; 
}

.header #logo
{
	position:absolute;
	top:45px;
	left:90px;
	height:200px;
	width:300px;
	z-index:75px;
}

.header #upcoming
{
	position:absolute;
	top:20px;
	right:22px;
	height:210px;
	width:366px;
	z-index:75px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/upcoming.png') no-repeat;
}

.header #upcoming .events
{
	text-align:left;
	padding:65px 25px 20px 55px;
}

.header #upcoming .events #blue-header
{
	font-size:24px;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#598cb8;
	font-style:normal;
	font-weight:bold;
	font-stretch:normal;
	letter-spacing:-1px;
	font-variant:small-caps;
	line-height:normal;
	margin:0;
	padding:0;
}

.header #upcoming .events ul
{
	list-style:none;
	text-align:left;
	margin:0;
	padding:0;
}

#pagetitle {
	font-size:24px;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#598cb8;
	font-style:normal;
	font-weight:bold;
	font-stretch:normal;
	letter-spacing:-1px;
	font-variant:small-caps;
	text-align:center;
	width:100%;
}

#pagedesc {
	font-size:9pt;
	font-weight:bold;
	color:#627786;
	width:100%;
	text-align:center;
	padding-bottom:10px;
}



.header #upcoming .events ul li
{
	background:url('http://dkpfiles.com/dkp-templates/wrath/event-bullet.gif') no-repeat left;
	font-size:12px;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	padding:0 0 2px 20px;
}

.content-bg
{
	background:url('http://dkpfiles.com/dkp-templates/wrath/content_top_bg.jpg') no-repeat top;
	height:100%;
}

.content-border
{
	background:url('http://dkpfiles.com/dkp-templates/wrath/content_border.gif') repeat-y top center;
	height:100%;
}

.content
{
	text-align:center;
	height:100%;
	background:url('http://dkpfiles.com/dkp-templates/wrath/content_studs.gif') repeat-y top center;
	position:relative;
}

.content-table
{
	left:0;
	width:875px;
	border:0;
	text-align:left;
	vertical-align:top;
	margin:0 57px;
}

.sidebar
{
	vertical-align:top;
	text-align:left;
	width:250px;
}

.sidebarhidden
{
	display:none
}

.sidebar .menus
{
	width:225px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/side_bg.gif') no-repeat;
	padding:2px 25px 10px 10px;
}

.sidebar .menus h1
{
	font-size:18px;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#fff;
	font-weight:bold;
	margin:0;
	padding:0;
}

.sidebar .menus table td
{
	text-align: left;
}

.sidebar .menus ul
{
	list-style:none;
	padding: 0 0 0 10px;
	margin:0px:
	text-align:left;
}

.sidebar .menus ul li
{
	padding:0px 0 2px 20px;
	margin:0px;
	background:url('http://dkpfiles.com/<!--System:SD-->/list') no-repeat left;
	font-size:12px; 
	font-weight: bold; 
	font-family:	Arial,Helvetica,sans-serif;
}

.sidebar .base
{
	height:11px;
	width:235px;
	margin-bottom:10px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/side_base.gif') no-repeat;
}

.mainframe
{
	width:625px;
	text-align:right;
	vertical-align:top;
}

.mainframe-top
{
	width:625px;
	height:21px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/mainframe_top.gif') no-repeat;
}
.mainframe-top-wide
{
	width:875px;
	height:21px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/mainframe_top.gif') no-repeat;
}
.mainframe-top-right
{
	float:right;
	width:525px;
	height:21px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/mainframe_top.gif') no-repeat;
	background-position:top right;
}

.mainframe-content
{
	width:625px;
	empty-cells:show;
}

.mainframe-left
{
	width:15px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/content-left.jpg') repeat-y;
}

.mainframe-right
{
	width:15px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/content-right.jpg') repeat-y;
}

.mainframe-inner
{
	text-align:left;
	width:595px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/content-center.jpg');
	overflow:auto;
}

.mainframe-inner-wide
{
	text-align:left;
	width:845px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/content-center.jpg');
	overflow:auto;
}

.mainframe-content-wide
{
	width:875px;
	empty-cells:show;
}

.mainframe-bottom
{
	width:625px;
	height:21px;
	background: url('http://dkpfiles.com/dkp-templates/wrath/mainframe_bottom.gif') no-repeat;
}
.mainframe-bottom-wide
{
	width:875px;
	height:21px;
	background: url('http://dkpfiles.com/dkp-templates/wrath/mainframe_bottom.gif') no-repeat;
}

.mainframe-bottom-right
{
	float:right;
	width:525px;
	height:21px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/mainframe_bottom.gif') no-repeat;
	background-position:top right;
}

.post-header
{
	width:585px;
	height:28px;
	text-align:left;
	vertical-align:top;
	font-family:Arial, Helvetica, Sans-serif;
	font-weight:bold;
	font-size:12px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/post-header.png') no-repeat;
	padding:6px 0 5px;
}

.post-header .post-top
{
	width:485px;
	height:28px;
	padding-left:5px;
	overflow:hidden;
}

.post-header .author
{
	width:100px;
	height:28px;
	text-align:right;
	overflow:hidden;
	color:#598cb8;
}

.post-header img
{
	float:left;
	margin:0 5px 0 0;
}

.post-heading
{
	padding-top:5px;
	color:#00b3fe;
}

.post-date
{
	padding-top:5px;
	color:#fff;
}

.post-title
{
	padding-top:5px;
	color:#feaf00;
}

.post
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d6f9ff;
	line-height:18px;
	width:585px;
	overflow:auto;
}

.post p
{
	margin:0;
	padding:0 5px 5px 0;
}

.post-comments
{
	text-align:right;
	font-weight:bold;
	padding:0 25px 20px 20px;
}

.post-comments img
{
	margin:0 5px 0 0;
}

.footer
{
	width:100%;
	height:185px;
	background:url('http://dkpfiles.com/dkp-templates/wrath/footer.jpg') no-repeat right;
}

.listlabel
{
	color:#00b3fe;
	font-weight:bold;
	background:url('http://dkpfiles.com/dkp-templates/wrath/post-header.png') repeat-x;
}

.listlabel i
{
	color:#ffffff;
	font-weight:bold;
}

#navmenu a,#navmenu a:visited
{
	color:#fff;
}

#navmenu a:hover, .listlabel a
{
	color:#feaf00;
}

.list, .List, .PostText {
	background-color: #112433;
	border: 1px solid #263248;
}
.PostInfo {
	border: 1px solid #263248;
}
.listred {
	background-color: #331114;
}
.list1, .list2{
	color:#d6f9ff;
}
.list1 div,.list2 div
{
	margin-bottom:5px !important;
}

.wowtooltip
{
	text-align: left;
}

table.ttb tr td
{
	text-align: left !important;
}

.list2, .PostInfo, .newlist2
{
	background-color: #132737;
}
.list td {
	padding: 5px;
}
.newlist1
{
	background-color: #1b354a;
	color: #ffffff;
}
.newlist2
{
	background-color: #183146;
	color: #ffffff;
}
.calday
{
	width:20px;
	height:18px;
	text-align:center !important;
	
}

tr.calheader, tr.calheader td
{
	text-align:center !important;
	font-weight:bold;
}

.calcurrent
{
	border-width:1px;
	border-style:solid;
	border-color:#aaaaaa
}



/* The next rules (all preceded with bigcal) are for the 'Big Calendar' (bigcalendar.php) */

/* this is the table that displays the calendar info */
.bigcal {width:100%;border-style:inset;border-width:1px;}

/* This is the header of the calendar, displaying the month and year, and the links to the next months */
.bigcalheader{font-size:16pt;font-weight:bold;background:url('http://dkpfiles.com/dkp-templates/wrath/post-header.png') repeat-x;}

/* Day Labels 'Sunday' 'Monday' etc */
.bigcaldayheader{font-size:10pt;font-weight:bold;background:url('http://dkpfiles.com/dkp-templates/wrath/post-header.png') repeat-x;}

/* This is the class for each day */
.bigcalday {width:14%;border-style:solid;border-color:#8888bb;border-width:1px;height:100px;background:url('http://dkpfiles.com/dkp-templates/wrath/list1.jpg');}

/* This is a class that is displayed on event labels (8:00pm - Gruul's Lair) */
.bigcallabel{font-size:8pt;cursor:pointer}

/* This is the div containing the day of the month */
.bigcaldaylabel{font-size:8pt;background:url('http://dkpfiles.com/dkp-templates/wrath/post-header.png') repeat-x;text-align:center}

/* The class when a day on the calendar is being hovered over */
.bigcalday_hover{border-color:#D61318}

/* One of the classes displayed on today */
.bigcalcurrent{border-color:#000000;background:#222244}

/* One of the classes to display is something is scheduled on that day */
.bigcalsomething{}

/* This is going to be the Arrows to the right and left */
.bigcalheader a{color:}

/* This is the div that gets clicked to add a new item.  The default image is a plus.  The Overflow:hidden is because IE, for whatever reason, wants to make it higher than the height attribute */
.bigcalplus{	position:relative;
		top:2px;
		float:right;
		width:10px;
		height:10px;
		overflow:hidden;
		line-height:1px;
		background-image:url(http://www.dkpsystem.com/plus.gif);
		cursor:pointer;}		

/* A day that's not in the current month (at the beginning and end of the calendar display) */
.bigcalblank {}


/* The following are the rules for tabs */
div.tabrow{float:left;width:100%;padding-top:5px;}
ul.tabrow, ul.tabrow li{list-style-type:none;margin:0;padding:0}
ul.tabrow{margin-left:10px;}
ul.tabrow li{list-style-image:none;float:left;margin-right: 3px;text-align:center;font-size:inherit}
ul.tabrow a{float:left;width:8em;padding: 5px 0;background-color:#57667a;}
ul.tabrow a:hover {background:#347892;color:#ffffff}
ul.tabrow li.selected a,ul.tabrow li.selected a:hover {background-color:#22224f;color:#ffffff}

/* Login elements */
#loginstuff {
	font-weight: bold;
	color: #00b3fe;
}
#loginstuff input {
	width: 125px;
	background-color: #263248;
	color: #ffffff;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #112433;
}
#loginstuff input.button {
	width: auto;
}

/* Guides */
.GuideTitle, .GuideSubTitle {
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #1b354a;
}
.GuideTitle {
	font-size: 1.4em;
}
.GuideSubTitle {
	font-size: 1.2em;
}

#shoutbox_menu{
	height:300px;
	overflow:auto;
}

#myventstatus{
	height:300px;
	overflow:auto;
}

/* DHTML-MENUS */
div.dhtmlddl, div.dhtmlddl *, div.dhtmlcombo, div.dhtmlcombo *{
	height:16px !important;
}

tr.listlabel div.dhtmlddl, tr.listlabel div.dhtmlcombo{
}

div.dhtml_ddl_list, div.dhtml_combo_list {
	background-color:#132737;
}

.dhtml_ddl_listitem,.dhtml_ddl_listitem_highlight {
	padding-top:2px;
	margin:0;
}

div.dhtml_ddl_listitem_highlight{
}
/* END-DHTML-MENUS */


/* Text description, ie "Someone posted to someone's wall" on the menu
.membercomment_summary {
}

/* The date of the comment, ie '8 months ago' on the menu */
.membercomment_date {
color:#888;
padding-bottom:4px;
}

/* The container div of the wall post list on the menu on the menu */
.membercomment_wall_history {
height:300px;
overflow:auto;
}


/* CHARACTER PROFILE PAGE: START */

/* Character Name on character profile page */
.memberprofile_name {
	font-size:24pt;
	font-weight:bold;
}

/* Level, Race, Class */
.memberprofile_lrc {
	font-size:12pt;
	font-weight:bold;
}

/* Character server */
.memberprofile_server {
	font-size:12pt;
}

/* Character guild */
.memberprofile_guild {
	font-size:18pt;
}

/* Character rank */
.memberprofile_rank {
	font-size:12pt;
}

/* Character login information */
#memberprofile_login {
	font-size:10pt;
	font-weight:bold;
	text-align:right;
}

/* Character "other characters" drop down */
#memberprofile_login select {
	font-size:9pt;
}

/* Link for "Claim this character" */
.memberprofile_claim {
	font-weight:bold;
	font-size:14pt;
}

/* notification that this character is pending an association with the logged in account */
.memberprofile_claimed {
	font-size:10pt;
}

/* where the profile picture and future pictures go */
#memberprofile_pics {
	text-align:center;
	width:100%;
}

/* Wrapper on character profile */
.memberprofile_main {
	width:100%;
}

/* profile picture, and gear summar section */
.memberprofile_picsgear {
	width:400px;
	vertical-align:top;
}

/* Character Wall */
.memberprofile_wall {
	padding-left:20px;
	vertical-align:top;
}

/* "Delete" link when NOT hovering over a character profile */
.memberprofile_comment_nohover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:none !important;
}

/* "Delete" link when hovering over a character profile comment/wall post */
.memberprofile_comment_hover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:block !important;
}

/* Wall Post when hovering over */
.memberprofile_comment_hover {
	/*border: 1px #777 solid;*/
}

/* Wall post text */
.memberprofile_comment_text {

}

/* positioning of the comment "Delete" */
.memberprofile_comment_delete {
	float:right;
}

/* comment post button */
.memberprofile_post_comment {
	width:100%;
	text-align:right;
}

/* Comment post textarea */
.memberprofile_post_comment textarea {
	width:100%;
	margin-bottom:5px;
}

/* Individual wall page list */
.memberprofile_comment_pages {
	font-size:7pt;
	text-align:center;
}

/* Wall post individual comment wrapper */
.memberprofile_comment_wrapper {
	width:100%;
	padding:2px;
	margin:2px;
	font-size:9pt;
}

/* space out the individual conversations */
#memberprofile_all_comments > .memberprofile_comment_wrapper {
	margin-bottom:15px;
}

/* profile comment icon */
.memberprofile_comment_icon {
	width:50px;
	float:left;
}

/* wall post date */
.memberprofile_comment_date {
	margin-top:8px;
	margin-bottom:8px;
	font-size:8pt;
}

/* wall post comment text */
.memberprofile_comment_text {
	display:table-cell;
	width:10000px;
	margin:5px;
}

/* profession skills */
.memberprofile_prof_skills {
	white-space:nowrap;
}

/* add profession button */
.memberprofile_prof_addprof {
	text-align:center;
	padding-bottom:10px;
}

/* profession edit button */
.memberprofile_prof_edit {
	text-align:center;
}

/* tradeskill */
.memberprofile_prof_skills {
	margin-bottom:30px;
}

/* professions table */
#memberprofile_professions {
	margin-left:auto;
	margin-right:auto;
}

/* textboxes, buttons, and dropdowns in the profession table */
#memberprofile_professions input, #memberprofile_professions select {
	font-size:8pt;
}

/* Profession div around save button */
.memberprofile_profession_save {
	margin-top:10px;
	text-align:right;
}

/* profession save button */
.memberprofile_profession_save input {
	padding:10px;
}


/* Profile Talent Spec Spacing */
.memberprofile_talent_spec {
	padding:20px;
}

/* Profile pvp table */
.memberprofile_pvp {
	margin-left:auto;
	margin-right:auto;
}

/* profile team wrapper */
.memberprofile_pvp_teamwrapper {
	border: 1px outset #777;
	width:180px;
	padding:10px;
	margin:10px;
}

/* center pretty much all text inside divs inside the pvp info page */
.memberprofile_pvp div {
	text-align:center;
}

/* the team header, ie 2v2, 3v3, etc */
.memberprofile_pvp_header {
	font-size:18pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* table listing members */
.memberprofile_pvp_teammembers {
	width:100%;
}

/* arena team name */
.memberprofile_pvp_arenateam {
	font-size:14pt;
	height:50px;
}

/* arena team rating */
.memberprofile_pvp_rating {
	font-size:24pt;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:30px;
}

/* arena team record */
.memberprofile_pvp_record {
	font-size:18pt;
	height:30px;
}

/* graph drop down menu */
.memberprofile_graph_dropdown {
	text-align:center;
}

/* actual graph wrapper */
.memberprofile_graph {
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

/* destination for attendance */
.memberprofile_dkp_attendance {
}

/* description for the raid snapshot */
.memberprofile_dkp_attendance_desc {
	font-size:7pt;
	color:#777;
}

/* dkp actvity table */
.memberprofile_dkp_history {
	width:100%;
}

/* any cells in the dkp activity table */
.memberprofile_dkp_history td {
	vertical-align:top;
}

/* any cells in the dkp table that involve points (numbers), right align */
td.memberprofile_dkp_points {
	text-align:right;
}

/* wrapper on the activity filter */
.memberprofile_dkp_activity_filter {
	text-align:right;
}

/* page list on dkp activity */
.memberprofile_dkp_pages {
	text-align:center;
}

/* format if a row is an absent notification */
.memberprofile_dkp_absent td {
	color:#888;
	font-style:italic;
	font-size:smaller;
}

/* dkp "Challenge" window ("I was there") */
.memberprofile_dkp_challenge {
	text-align:center;
}

/* textarea inside the dkp challenge window */
.memberprofile_dkp_challenge textarea {
	width:100%;
}

/* text containing the text "Loot Systems" above the list of dkp systems */
.memberprofile_dkp_system_header {
	font-size:18pt;
}

/* Currently active page in dkp activity */
.memberprofile_pagenum {
	font-weight:bold;
}

/* notification of pending challenge, or accepted, rejected */
.memberprofile_dkp_challenge_status {
	font-size:smaller;
}

/* character inventory wrapper */
.memberprofile_bank_wrapper {
	width:100%;
}

/* inventory wrapper cells, just to space out the diferent tables */
.memberprofile_bank_wrapper > tbody > tr > td {
	width:33%;
	padding-left:7px;
	padding-right:7px;
}

/* individual inventory sections: Equipped, Bank, Bags */
.memberprofile_bank_wrapper table {
	width:90%;
}

/* inventory edit button */
.memberprofile_bank_edit {
	width:100%;
	text-align:center;
	padding:10px;
}

/* header for factions and quests */
.memberprofile_faction_category, .memberprofile_quest_category {
	font-size:12pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* list of factions/quests */
.memberprofile_faction_category_list,.memberprofile_quest_category_list {
	padding-top:8px;
	padding-left:30px;
}

/* faction and quest list tables */
.memberprofile_faction_category_list table {
	width:500px;
}

.memberprofile_quest_category_list table {
	width:500px;
}

/* faction name: obvious */
.memberprofile_faction_name {
	width:250px;
}

/* quest name */
.memberprofile_quest_name {
	width:250px;
	font-weight:bold;
	font-size:larger;
}

/* quest criteria completed */
.memberprofile_quest_crit_complete {
	text-decoration:line-through;
	color:#777;
}

/* quest complete header */
.memberprofile_quest_complete_header {
	font-weight:bold;
}

/* quest criteria */
.memberprofile_quest_criteria {
	width:250px;
}

/* faction level: "Exalted" , "Revered" , etc */
.memberprofile_faction_level {
	width:125px;
}

/* numbers of the reputation status */
.memberprofile_faction_level_nums {
	width:125px;
}

/* the "Header Core" is a wrapper for things like character name, realm, level, race, etc */
.memberprofile_header_core {
	left:0;
	top:0;
	vertical-align:top;
}

/* This is for custom headers, which show on the right side of the character header */
.memberprofile_header_custom {
	font-size:smaller;
	top:0;
	vertical-align:bottom;
	text-align:right;
}

/* memberprofile header wrapper */
.memberprofile_header_table {
	width:100%;
}

/* customfield label */
.memberprofile_customfield_field {
	font-weight:bold;
}

/* wanted gear edit button */
#memberprofile_wantedgear_editbutton {
	text-align:center;
}

/* dkpprofiler path in windows */
pre.memberprofile_dkpp_path {
	font-size:9pt;
	font-weight:bold;
}

/* achievement wrapper */
.memberprofile_cheeves {
	width:100%;
}

/* achievement subcat */
.memberprofile_cheeve_subcat {
	padding-left:20px;
	display:none;
}

/* achievement criteria */
.memberprofile_cheeve_crit {
	color:#777;
}

/* achievement points */
.memberprofile_cheeve_points {
	font-size:24pt;
	font-weight:bold;
	text-align:center;
}

/* achievement completion date */
.memberprofile_cheeve_date {
	text-align:center;
}
 
/* achievement */
.memberprofile_cheeve {
	font-weight:bold;
}

/* achievement main parent categories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_cat {
	font-weight:bold;
	font-size:12pt;
}

/* achievement subcategories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_subcat {
	font-size:10pt;

}

/* list of achievement categories */
.memberprofile_cheeve_catlist {
	width:200px;
}

/* achievement table */
.memberprofile_cheeve_list > table {
	width:100%;
}

/* header key/attunement not-completed (inside the hover popup) */
.memberprofile_key_hover_notcompleted {
	color:red;
	font-weight:normal;
}

/* header key/attunement when complete (inside the hover popup) */
.memberprofile_key_hover_completed {
	color:green;
	font-weight:bold;
}

/* key/attunement link when a key is completed */
a.memberprofile_key_selected:link, 
a.memberprofile_key_selected:hover, 
a.memberprofile_key_selected:visited,
a.memberprofile_key_selected:active {
	font-weight:bold;
	font-size:9pt;
}

/* key/attunement link when key is not completed. Text slightly smaller, color set to gray */
a.memberprofile_key_unselected:link,
a.memberprofile_key_unselected:hover,
a.memberprofile_key_unselected:visited,
a.memberprofile_key_unselected:active {
	font-weight:normal;
	font-size:8pt;
	color: #777;
}

/* CHARACTER PROFILE: END */


/* THIS MUST BE SET TO display:none, or the default character profile stylesheet will be loaded automatically */
#memberprofile_css_tester {
	display:none;
}





/* THIS MUST BE SET TO display:none, or the default character profile stylesheet will be loaded automatically */
#memberprofile_css_tester {
	display:none;
}

