/* This is the body, pretty straightforward */
BODY,.body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: .7em;
	color: #CCC;
	margin-top: 0px;
	margin-bottom: 0px;	
	background-color: #000000; 
	background-repeat: repeat-y;
	background-position: center;
	background-image: url('http://dkpfiles.com/dkp-templates/nucleus/mapBG.gif'); 
	background-attachment: fixed;
}

.vtop_divider {
	background:url(//dkpfiles.com/dkp-templates/nucleus/vtop_divider.png);
	width:1px;
	height:37px;
}

.header_bg {
	background:url(//dkpfiles.com/dkp-templates/nucleus/headerBG.jpg);
	width:939px;
	height:120px;
}

.tbar_bg {
	background:url(//dkpfiles.com/dkp-templates/nucleus/tbar_bg.png);
	height:35px;
}

.botmod_bg {
	background-image:url(//dkpfiles.com/dkp-templates/nucleus/botmod_bg.png);
       	background-color:#171717;
       	height:86px;
	text-align:center;
}

.body_shadow {
	background:url(//dkpfiles.com/dkp-templates/nucleus/body_shadow.png);
	width:87px;
	height:6px;
}

.body_content {
	background-color: #171717;
}

#logo {
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
}

.menu_dropdown {
	border:1px solid #777;
	background: #111;
	font-size:10pt;
	box-shadow: #3C63AD 0 0 20px;
}

.menu_dropdown_standalone {
	padding:10px;
}

.menu_dropdown li {
	list-style-type: none;
	margin:0px;
	text-align:center;
}

.menu_dropdown ul {
	padding:0;
}

.menu_dropdown li a:link,
.menu_dropdown li a:hover,
.menu_dropdown li a:visited,
.menu_dropdown li a:active {
	display:block;
	width:190px;
	padding:3px;
}

.menu_dropdown li a:hover,
.menu_dropdown li a:active {
	background:#000;
	font-weight:bold;
}
.menucalendar, .arenamenu {
	width:180px !important;
}


.tooltip {
	font-size:9pt;
	display:none;
	color: #666666;
}

/* used when [quote] tags are used in posts */
.quote{
	font-size:7.5pt;
	background-color:;}

.quoteheader {
	font-size:9pt;
	background:;}

/* Most tables use this type    */
.List{	background-color: #0C0C0C;
	border: inset;
	border-width: 0px;}


/* used for the newsletter table */
table.newsletter{
		border: inset;
		border-width: 1px;
		font-family:monospace;
		font-size: 9pt;}

/* Used in the default base as the Title table.  Even with custom layouts, it's used in the Add/Edit Post and other popups that have a title */
Table.Subject{
		border: outset;
		border-width: 1px;}
		
table.sidebar {
		border-right: 1px solid #434343;
		border-left: 1px solid #434343;
		border-bottom: 1px solid #434343;
}

/* used to define the Menus on the left */	
.Menu{		width: 185px;
		border-style: solid;
		border-width: 1px;
		margin-bottom: 15px;
		border-color: #343434;}

/* This is used with [title] tags in guides and posts */
.GuideTitle{	font-weight:bold;
		font-size: 14pt;
		color: white;}

		
/* used with [subtitle] tags in guides and posts */
.GuideSubTitle{	font-weight:bold;
		font-size: 11pt;
		color:white;}

/* The Row of the "Title Table" */
.Subject{	font-size: 11pt;
		font-weight: bold;
		background: #353535;
		color: #ffffff}
		
/* This is the "PAge Description" row of the "Title Table" */
.SubSubject{	font-size: 9pt;
		font-weight: bold;
		background: #171717;
		color: #000000;}

/* in the default layout, this is the style associated with the Count Down: "x minutes until the next raid" */
.CountDown{	font-size: 16pt;
		font-weight: normal;}
		
/* In the default, is the style of the Next Event Name at the top */
.EventName{	font-size:11pt;
		font-weight:bold; }

/* same as above, only for the Date/Time */
.EventTime{	font-size:11pt;
		font-weight:normal; }
		
/* for the TopStats, is the color of the Statistic itself */
.StatCount{	color: #3f7f1f;}

/* for the TopStats, is the color of a Statistic designed to get the user's attention */
.StatAlert{	color: #3f7f1f;}

/* In the default layout, is the style of the "Top Stats" */
.TopStats{	background: #0B0B0B;
		font-size: 7.5pt}

/* In the Default Layout, Is essentially the background information for the Next Event. */
.Event{		background: #AAAAAA;
		font-size:9pt;}
		
/* Error box description */
table.error{	border-width: 1px;
		border-style:outset;}

/* Error box description */
td.error,.missing,div.error{	
		font-size: 9pt;
		background: #771111;
		color: #FFFFFF;}

/* Error box title */
.errorlistlabel{background:#BB1111;
		font-weight:bold;
		color:#FFFFFF;
		font-size:11pt}

/* used on almost every page, is the style of one of the row-types in a table with alternating row types */
.list1,.l1{	font-size: 9pt;
		color:#B0B0B0;
		background: #222222;}

/* used on almost every page, is the style of the other of the row-types in a table with alternating row types */
.list2,.l2{	font-size: 9pt;
		color:#B0B0B0;
		background: #171717;}

/* used commonly, is for rows that want to "Get Your attention" in a table.  IE, Missing Raids on your member profile. */
.listred,.lr{	background: #FF9999;
		color: #000000;
		font-size: 9pt;}

/* used to mark a "new or recently posted" thread. */
.newlist1,.newl1{
		background: #4B4B4B;
		font-weight:bold;
		font-size: 9pt;}

.newlist2,.newl2{
		background: #373737;
		font-weight:bold;
		font-size: 9pt;}

/* used in the copyright notice */
.copyright{font-size: 7.5pt;font-style:italic}

/* used in a few places to just define a normal place to put simple kinda-small text */
.plain{font-size:9pt}

/* to define small text in random places */
.xsmall{font-size:7.5pt}

.calcurrent{
	font-size: 7.5pt;
	color: ;
	border-style:solid;
	border-width:1px;
	border-color:#A55A1D;
}


/* The menu header (Menu, Resources, etc) as well as the Calendar Header, and the current date on the calendar */
.MenuCat,.calheader{
		font-size: 9pt;
		font-weight: bold;
		background: #343434;
		color: ;
		
		}

/* The cell record on the calendar for if there is something scheduled this day */
.calsomething{}

/* The header bar of tables that act as lists */
.listlabel{
		font-size: 9pt;
		font-weight: bold;
		background: #343434;
		background-image: url('http://dkpfiles.com/dkp-templates/nucleus/topicBG.gif');
		background-repeat: repeat-x;
		color: #FFFFFF;}

/* The Menu option contents, as well as the body for the calendar */
.MenuChoice,.calbody{	font-size: 9pt;
		color: ;}

/* is the information about the poster on the forum.  The left-most pane on each post */
.PostInfo{	font-size: 9pt;
		background: #373737;
		padding:2px;
		border-style:solid;
		border-width:1px;
		border-color: #1f1f1f;

}
		
/* While rather rarely used, this is the "color picker" popup. Probably shouldn't ever change */
.cp{		width:10;height:10}

/*  On the forum, this is the little blurb at the top that gives statistic info "Total Posts" "Total Threads" "Deepest Thread" */
.ThreadHeader{	font-size: 11pt;}
	
/* The style associated with the "Add a Post to this thread" link on the forum */
.MakeAPost{	font-weight: bold;
		font-size: 9pt;}

/* The style associated with the pane in the layout containing the body of each post */
.PostText{	font-size: 9pt;
		color:#000000;
		background: #A0A0A0;
		padding:2px;
		border-style:solid;
		border-width:1px;
		border-color: #1f1f1f;
		}

/* used on the [pre] tags in posts and stuff */
pre{		font-size:11pt;}

/* Basic Link Definition */
A:visited	{color: #0057FF; text-decoration: none;}
A:link		{color: #0057FF; text-decoration: none;}
A:active	{color: #0057FF; text-decoration: none;}
A:hover		{color: #fff; text-decoration: none;}

/* for any list rows that must show up to get the user's attention, this is the link for them */
A.inred:visited	{color:#000000;}
A.inred:link	{color:#000000;}
A.inred:active	{color:#444444;}
A.inred:hover	{color:#444444;}

.fieldcell input {
 width: 80px;
 color:#CCC;
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #212121;
 border: 1px solid #0057FF;
} 

/* used in on most pages as the buttom class */
input.button{	background: #FFFFFF;
		color: black;}


/* Text description, ie "Someone posted to someone's wall" on the menu
.membercomment_summary {
}

/* The date of the comment, ie '8 months ago' on the menu */
.membercomment_date {
color:#888;
padding-bottom:4px;
}

/* The container div of the wall post list on the menu on the menu */
.membercomment_wall_history {
height:300px;
overflow:auto;
}


/* CHARACTER PROFILE PAGE: START */

/* Character Name on character profile page */
.memberprofile_name {
	font-size:24pt;
	font-weight:bold;
}

/* Level, Race, Class */
.memberprofile_lrc {
	font-size:12pt;
	font-weight:bold;
}

/* Character server */
.memberprofile_server {
	font-size:12pt;
}

/* Character guild */
.memberprofile_guild {
	font-size:18pt;
}

/* Character rank */
.memberprofile_rank {
	font-size:12pt;
}

/* Character login information */
#memberprofile_login {
	font-size:10pt;
	font-weight:bold;
	text-align:right;
}

/* Character "other characters" drop down */
#memberprofile_login select {
	font-size:9pt;
}

/* Link for "Claim this character" */
.memberprofile_claim {
	font-weight:bold;
	font-size:14pt;
}

/* notification that this character is pending an association with the logged in account */
.memberprofile_claimed {
	font-size:10pt;
}

/* where the profile picture and future pictures go */
#memberprofile_pics {
	text-align:center;
	width:100%;
}

/* Wrapper on character profile */
.memberprofile_main {
	width:100%;
}

/* profile picture, and gear summar section */
.memberprofile_picsgear {
	width:400px;
	vertical-align:top;
}

/* Character Wall */
.memberprofile_wall {
	padding-left:20px;
	vertical-align:top;
}

/* "Delete" link when NOT hovering over a character profile */
.memberprofile_comment_nohover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:none !important;
}

/* "Delete" link when hovering over a character profile comment/wall post */
.memberprofile_comment_hover > .memberprofile_comment_date > a.memberprofile_comment_delete {
	display:block !important;
}

/* Wall Post when hovering over */
.memberprofile_comment_hover {
	/*border: 1px #777 solid;*/
}

/* Wall post text */
.memberprofile_comment_text {

}

/* positioning of the comment "Delete" */
.memberprofile_comment_delete {
	float:right;
}

/* comment post button */
.memberprofile_post_comment {
	width:100%;
	text-align:right;
}

/* Comment post textarea */
.memberprofile_post_comment textarea {
	width:100%;
	margin-bottom:5px;
}

/* Individual wall page list */
.memberprofile_comment_pages {
	font-size:7pt;
	text-align:center;
}

/* Wall post individual comment wrapper */
.memberprofile_comment_wrapper {
	width:100%;
	padding:2px;
	margin:2px;
	font-size:9pt;
}

/* space out the individual conversations */
#memberprofile_all_comments > .memberprofile_comment_wrapper {
	margin-bottom:15px;
}

/* profile comment icon */
.memberprofile_comment_icon {
	width:50px;
	float:left;
}

/* wall post date */
.memberprofile_comment_date {
	margin-top:8px;
	margin-bottom:8px;
	font-size:8pt;
}

/* wall post comment text */
.memberprofile_comment_text {
	display:table-cell;
	width:10000px;
	margin:5px;
}

/* profession skills */
.memberprofile_prof_skills {
	white-space:nowrap;
}

/* add profession button */
.memberprofile_prof_addprof {
	text-align:center;
	padding-bottom:10px;
}

/* profession edit button */
.memberprofile_prof_edit {
	text-align:center;
}

/* tradeskill */
.memberprofile_prof_skills {
	margin-bottom:30px;
}

/* professions table */
#memberprofile_professions {
	margin-left:auto;
	margin-right:auto;
}

/* textboxes, buttons, and dropdowns in the profession table */
#memberprofile_professions input, #memberprofile_professions select {
	font-size:8pt;
}

/* Profession div around save button */
.memberprofile_profession_save {
	margin-top:10px;
	text-align:right;
}

/* profession save button */
.memberprofile_profession_save input {
	padding:10px;
}


/* Profile Talent Spec Spacing */
.memberprofile_talent_spec {
	padding:20px;
}

/* Profile pvp table */
.memberprofile_pvp {
	margin-left:auto;
	margin-right:auto;
}

/* profile team wrapper */
.memberprofile_pvp_teamwrapper {
	border: 1px outset #777;
	width:180px;
	padding:10px;
	margin:10px;
}

/* center pretty much all text inside divs inside the pvp info page */
.memberprofile_pvp div {
	text-align:center;
}

/* the team header, ie 2v2, 3v3, etc */
.memberprofile_pvp_header {
	font-size:18pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* table listing members */
.memberprofile_pvp_teammembers {
	width:100%;
}

/* arena team name */
.memberprofile_pvp_arenateam {
	font-size:14pt;
	height:50px;
}

/* arena team rating */
.memberprofile_pvp_rating {
	font-size:24pt;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:30px;
}

/* arena team record */
.memberprofile_pvp_record {
	font-size:18pt;
	height:30px;
}

/* graph drop down menu */
.memberprofile_graph_dropdown {
	text-align:center;
}

/* actual graph wrapper */
.memberprofile_graph {
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

/* destination for attendance */
.memberprofile_dkp_attendance {
}

/* description for the raid snapshot */
.memberprofile_dkp_attendance_desc {
	font-size:7pt;
	color:#777;
}

/* dkp actvity table */
.memberprofile_dkp_history {
	width:100%;
}

/* any cells in the dkp activity table */
.memberprofile_dkp_history td {
	vertical-align:top;
}

/* any cells in the dkp table that involve points (numbers), right align */
td.memberprofile_dkp_points {
	text-align:right;
}

/* wrapper on the activity filter */
.memberprofile_dkp_activity_filter {
	text-align:right;
}

/* page list on dkp activity */
.memberprofile_dkp_pages {
	text-align:center;
}

/* format if a row is an absent notification */
.memberprofile_dkp_absent td {
	color:#888;
	font-style:italic;
	font-size:smaller;
}

/* dkp "Challenge" window ("I was there") */
.memberprofile_dkp_challenge {
	text-align:center;
}

/* textarea inside the dkp challenge window */
.memberprofile_dkp_challenge textarea {
	width:100%;
}

/* text containing the text "Loot Systems" above the list of dkp systems */
.memberprofile_dkp_system_header {
	font-size:18pt;
}

/* Currently active page in dkp activity */
.memberprofile_pagenum {
	font-weight:bold;
}

/* notification of pending challenge, or accepted, rejected */
.memberprofile_dkp_challenge_status {
	font-size:smaller;
}

/* character inventory wrapper */
.memberprofile_bank_wrapper {
	width:100%;
}

/* inventory wrapper cells, just to space out the diferent tables */
.memberprofile_bank_wrapper > tbody > tr > td {
	width:33%;
	padding-left:7px;
	padding-right:7px;
}

/* individual inventory sections: Equipped, Bank, Bags */
.memberprofile_bank_wrapper table {
	width:90%;
}

/* inventory edit button */
.memberprofile_bank_edit {
	width:100%;
	text-align:center;
	padding:10px;
}

/* header for factions and quests */
.memberprofile_faction_category, .memberprofile_quest_category {
	font-size:12pt;
	font-weight:bold;
	padding-bottom:20px;
}

/* list of factions/quests */
.memberprofile_faction_category_list,.memberprofile_quest_category_list {
	padding-top:8px;
	padding-left:30px;
}

/* faction and quest list tables */
.memberprofile_faction_category_list table {
	width:500px;
}

.memberprofile_quest_category_list table {
	width:500px;
}

/* faction name: obvious */
.memberprofile_faction_name {
	width:250px;
}

/* quest name */
.memberprofile_quest_name {
	width:250px;
	font-weight:bold;
	font-size:larger;
}

/* quest criteria completed */
.memberprofile_quest_crit_complete {
	text-decoration:line-through;
	color:#777;
}

/* quest complete header */
.memberprofile_quest_complete_header {
	font-weight:bold;
}

/* quest criteria */
.memberprofile_quest_criteria {
	width:250px;
}

/* faction level: "Exalted" , "Revered" , etc */
.memberprofile_faction_level {
	width:125px;
}

/* numbers of the reputation status */
.memberprofile_faction_level_nums {
	width:125px;
}

/* the "Header Core" is a wrapper for things like character name, realm, level, race, etc */
.memberprofile_header_core {
	left:0;
	top:0;
	vertical-align:top;
}

/* This is for custom headers, which show on the right side of the character header */
.memberprofile_header_custom {
	font-size:smaller;
	top:0;
	vertical-align:bottom;
	text-align:right;
}

/* memberprofile header wrapper */
.memberprofile_header_table {
	width:100%;
}

/* customfield label */
.memberprofile_customfield_field {
	font-weight:bold;
}

/* wanted gear edit button */
#memberprofile_wantedgear_editbutton {
	text-align:center;
}

/* dkpprofiler path in windows */
pre.memberprofile_dkpp_path {
	font-size:9pt;
	font-weight:bold;
}

/* achievement wrapper */
.memberprofile_cheeves {
	width:100%;
}

/* achievement subcat */
.memberprofile_cheeve_subcat {
	padding-left:20px;
	display:none;
}

/* achievement criteria */
.memberprofile_cheeve_crit {
	color:#777;
}

/* achievement points */
.memberprofile_cheeve_points {
	font-size:24pt;
	font-weight:bold;
	text-align:center;
}

/* achievement completion date */
.memberprofile_cheeve_date {
	text-align:center;
}
 
/* achievement */
.memberprofile_cheeve {
	font-weight:bold;
}

/* achievement main parent categories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_cat {
	font-weight:bold;
	font-size:12pt;
}

/* achievement subcategories */
.memberprofile_cheeve_catlist > .memberprofile_cheeve_subcat {
	font-size:10pt;

}

/* list of achievement categories */
.memberprofile_cheeve_catlist {
	width:200px;
}

/* achievement table */
.memberprofile_cheeve_list > table {
	width:100%;
}

/* header key/attunement not-completed (inside the hover popup) */
.memberprofile_key_hover_notcompleted {
	color:red;
	font-weight:normal;
}

/* header key/attunement when complete (inside the hover popup) */
.memberprofile_key_hover_completed {
	color:green;
	font-weight:bold;
}

/* key/attunement link when a key is completed */
a.memberprofile_key_selected:link, 
a.memberprofile_key_selected:hover, 
a.memberprofile_key_selected:visited,
a.memberprofile_key_selected:active {
	font-weight:bold;
	font-size:9pt;
}

/* key/attunement link when key is not completed. Text slightly smaller, color set to gray */
a.memberprofile_key_unselected:link,
a.memberprofile_key_unselected:hover,
a.memberprofile_key_unselected:visited,
a.memberprofile_key_unselected:active {
	font-weight:normal;
	font-size:8pt;
	color: #777;
}

/* CHARACTER PROFILE: END */




/* THIS MUST BE SET TO display:none, or the default character profile stylesheet will be loaded automatically */
#memberprofile_css_tester {
	display:none;
}



div.social_button {
	padding:8px;

}
iframe.twitter-follow-button {
	/* This is the twitter follow button, but it 
	 * loads at 300 pixels wide by default, so this resizes the
	 * button to max width of the container. */
	width:100% !important;
}

#social_css_tester {
	display:none;
}



/* The following are the rules for tabs */
div.tabrow{float:left;width:100%;padding-top:5px;}
ul.tabrow, ul.tabrow li{list-style-type:none;margin:0;padding:0}
ul.tabrow{margin-left:10px;}
ul.tabrow li{list-style-image:none;float:left;margin-right: 3px;text-align:center;font-size:inherit}
ul.tabrow a{float:left;width:8em;padding: 5px 0;background-color:#010e4b}
ul.tabrow a:hover {background:#162554;}
ul.tabrow li.selected a,ul.tabrow li.selected a:hover {background-color:#1F3578;color:#ffffff}




/* The next rules (those with "bigcal" in their name) are for the "Big Calendar" */


/* this is the table that displays the calendar info */
.bigcal {width:100%;border-style:inset;border-width:1px;}

/* This is the header of the calendar, displaying the month and year, and the links to the next months */
.bigcalheader{font-size:16pt;font-weight:bold;background-color:#1F3578}

/* Day Labels "Sunday" "Monday" etc */
.bigcaldayheader{font-size:10pt;font-weight:bold;background-color:#1F3578}

/* This is the class for each day */
.bigcalday {width:14%;border-style:solid;border-color:#777777;border-width:1px;height:100px;background-color:#222222;}

/* This is a class that is displayed on event labels (8:00pm - Gruul's Lair) */
.bigcallabel{font-size:8pt;cursor:pointer}

/* This is the div containing the day of the month */
.bigcaldaylabel{font-size:8pt;background-color:#1F3578;text-align:center}

/* The class when a day on the calendar is being hovered over */
.bigcalday_hover{border-color:#ffffff}

/* One of the classes displayed on today */
.bigcalcurrent{border-width:2px;border-color:#3DE34D;background-color:#000080}

/* One of the classes to display is something is scheduled on that day */
.bigcalsomething{}

/* This is going to be the Arrows to the right and left */
.bigcalheader a{}

/* This is the div that gets clicked to add a new item.  The default image is a plus.  The Overflow:hidden is because IE, for whatever reason, wants to make it higher than the height attribute */
.bigcalplus{	position:relative;
		top:2px;
		float:right;
		width:10px;
		height:10px;
		overflow:hidden;
		line-height:1px;
		background-image:url(plus.gif);
		cursor:pointer;}		

/* A day that's not in the current month (at the beginning and end of the calendar display) */
.bigcalblank {}
.dhtml_ddl_listitem {
        background:#0F105A;
	font-size:inherit;
}

.dhtmlddl {
	background:#0F105A;
	font-size:inherit;
}

.dhtml_ddl_listitem_highlight {
	background:#000080;
	font-size:inherit;
}
.horizontalcssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.horizontalcssmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
display: block;
height: 15px;
padding: 9px 15px;
text-decoration: none;
background: url(//dkpfiles.com/dkp-templates/nucleus/menubg.gif) center center;
color: #0057FF;
font: bold 13px Tahoma;
}

/* .horizontalcssmenu a:hover {color: #fff; text-decoration: none;} */
	
/*Sub level menu*/
.horizontalcssmenu ul li ul{
left: 0;
top: 0;
border-right: 1px solid #202020;
border-left: 1px solid #202020;
border-bottom: 1px solid #202020;
position: absolute;
display: block;
visibility: hidden;
z-index: 100;
}

/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
display: inline;
float: none;
}


/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
width: 180px; /*width of sub menu levels*/
height: 20px;
font-weight: normal;
padding: 2px 5px;
background: #0F0F0F;
border-width: 0 1px 1px 1px;
}

.horizontalcssmenu ul li a:hover{
background: url(//dkpfiles.com/dkp-templates/nucleus/menubgover.gif) center center;
}

.horizontalcssmenu ul li ul li a:hover{
background: #000000;
}

.horizontalcssmenu .arrowdiv{
position: absolute;
right: 0;
background: transparent url(//dkpfiles.com/dkp-templates/nucleus/menuarrow.gif) no-repeat center left;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */
